<ion-view view-title="Recherche">
    <ion-content>
        <div class="list" style="margin-bottom:0px;">
            <div class="item item-input-inset">
                <label class="item item-input item-input-wrapper">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search" ng-model="search.string" value="dexter">
                </label>
                <button class="button button-stable" on-tap="controller.getSeries()">Search</button>
            </div>
        </div>
        <div class="list">
            {{series.message}}
            <div ng-repeat="serie in series.content"
                ui-sref="info({ showID: serie.id })">
                <div class="item item-thumbnail-left item-button-right">
                    <img src="{{serie.poster_path}}" style="object-fit: contain;">
                    <h2>{{serie.name}}</h2>
                    <p>{{serie.first_air_date}}</p>
                    <button class="button button-clear">
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>